In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://ssd-api.jpl.nasa.gov/cad.api'
params = {'dist-max': '1',
          'h-max': '14',
          'date-min': '1900-01-01',
          'date-max': '2100-01-01'}
response = requests.get(url, params)
print(f'''url: {response.url}
number of entries {response.json()['count']}''')

url: https://ssd-api.jpl.nasa.gov/cad.api?dist-max=1&h-max=14&date-min=1900-01-01&date-max=2100-01-01
number of entries 157

In [6]:
data = response.json()
data_cols = data['fields']
data_vals = data['data']
asteroids = pd.DataFrame(data_vals, columns=data_cols)
asteroids.head(1)

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
0,433,659,2415380.562333163,1900-Dec-27 01:30,0.314929169289996,0.314928923267226,0.314929415312767,5.5786191874778,5.57710237532794,< 00:01,10.41

In [8]:
asteroids['cd'] = pd.to_datetime(asteroids['cd'])
asteroids['orbit_id'] = pd.to_numeric(asteroids['orbit_id'])
asteroids['des'] = pd.to_numeric(asteroids['des'])
asteroids['jd'] = pd.to_numeric(asteroids['jd'], downcast='float')
asteroids['dist'] = pd.to_numeric(asteroids['dist'], downcast='float')
asteroids['dist_min'] = pd.to_numeric(asteroids['dist_min'], downcast='float')
asteroids['dist_max'] = pd.to_numeric(asteroids['dist_max'], downcast='float')
asteroids['v_rel'] = pd.to_numeric(asteroids['v_rel'], downcast='float')
asteroids['v_inf'] = pd.to_numeric(asteroids['v_inf'], downcast='float')
asteroids['h'] = pd.to_numeric(asteroids['h'], downcast='float')

In [9]:
asteroids.dtypes

des                   int64
orbit_id              int64
jd                  float64
cd           datetime64[ns]
dist                float32
dist_min            float32
dist_max            float32
v_rel               float32
v_inf               float32
t_sigma_f            object
h                   float32
dtype: object

In [10]:
asteroids

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h
0,433,659,2.415381e+06,1900-12-27 01:30:00,0.314929,0.314929,0.314929,5.578619,5.577102,< 00:01,10.41
1,5587,518,2.415507e+06,1901-05-02 08:33:00,0.490809,0.490808,0.490810,20.355806,20.355539,< 00:01,13.89
2,1627,1331,2.415577e+06,1901-07-11 20:46:00,0.246544,0.246544,0.246545,8.383511,8.382221,< 00:01,12.84
3,25916,653,2.416669e+06,1904-07-07 19:53:00,0.387029,0.387028,0.387029,10.332102,10.331435,< 00:01,13.78
4,3552,281,2.416731e+06,1904-09-07 09:30:00,0.424906,0.424898,0.424914,21.222542,21.222248,< 00:01,13.05
...,...,...,...,...,...,...,...,...,...,...,...
152,433,659,2.485544e+06,2093-01-31 15:47:00,0.182464,0.182464,0.182464,5.974914,5.972469,< 00:01,10.41
153,1627,1331,2.487150e+06,2097-06-25 12:24:00,0.486546,0.486545,0.486546,15.281413,15.281054,< 00:01,12.84
154,1866,907,2.487314e+06,2097-12-06 16:54:00,0.405201,0.405201,0.405202,32.556248,32.556046,< 00:01,12.54
155,20826,419,2.487776e+06,2099-03-13 14:55:00,0.137503,0.137502,0.137503,21.343996,21.343088,< 00:01,13.89
156,2212,665,2.487985e+06,2099-10-08 20:07:00,0.460172,0.460171,0.460174,43.459255,43.459122,< 00:01,13.51

In [12]:
from urllib.parse import urlencode

In [13]:
params = {#'dist-max': '1',
          #'h-max': '14',
          'date-min': '1900-01-01',
          'date-max': '2100-01-01'}
url + '?' + urlencode(params)

'https://ssd-api.jpl.nasa.gov/cad.api?date-min=1900-01-01&date-max=2100-01-01'